/* Colores principales */
.bg-perla {
  background-color: #f8f5f1; /* perla suave */
}

.text-azul {
  color: #007bff; /* azul elegante */
}

.bg-producto {
  background: linear-gradient(135deg, #007bff, #00c6ff); /* azul degradado llamativo */
}

/* General */
body {
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
  color: #333;
}

h2 {
  font-weight: 700;
}

/* Cards */
.card img {
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

/* Footer */
footer input, footer textarea {
  background-color: #2c2c2c;
  color: white;
  border: none;
}

footer input::placeholder,
footer textarea::placeholder {
  color: #ccc;
}

footer input:focus, footer textarea:focus {
  background-color: #3a3a3a;
  outline: none;
}

footer a:hover {
  text-decoration: underline;
  color: #00c6ff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
